<h1>Edit My Account</h1>
<div id="edit_form">
<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>

<fieldset>
  <%= f.label :username %>
  <%= f.text_field :username %><br />
  <br />
  <%= f.label :email %>
  <%= f.text_field :email %><br />
  <br />
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br />
  <br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br />
  <br />
  <%= f.label :street %>
  <%= f.text_field :street %><br />
  <br />
  <%= f.label :city %>
  <%= f.text_field :city %><br />
  <br />
  <%= f.label :state %>
  <%= f.text_field :state %><br />
  <br />
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %><br />
  <br />
  <%= f.submit "Update" %>
</fieldset>
<% end %>
</div>