<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% javascript_tag do %>
      var user_address = "<%= @user.street %>,<%= @user.city %>,<%= @user.state %>,<%= @user.city %>,<%= @user.zipcode %>"
      setAddress(user_address);
      var displayType = 'new'
      setDisplayType(displayType);
<% end %>
<div id="map"></div>
<div id="tabledistance">
  <table>
    <caption>Distance</caption>
    <tbody>
      <tr><td>Total</td><td id="mi">0.0 mi</td><td id="km">0.0 km</td></tr>
    </tbody>
  </table>
</div>  <!-- End of tabledistance div -->
<div id="routename">
  <%= label_tag 'name', 'Route Description' %><br />
  <%= text_field_tag 'name' %><br />
  <br />
  <%= label_tag 'type', 'Route Type' %><br />
  <%= select_tag 'type', '<option></option><option>Swim</option><option>Bike</option><option>Run</option>
                <option>Other</option>' %><br />
  <br />
  <%= button_to_function 'Save', 'saveRoute()' %>
</div>  <!-- End of routename div -->
<div id="map_controls">
  <%= button_to_function 'Undo', 'undoLastPoint()', :id => 'undopoint' %><br />
  <%= button_to_function 'Clear Map', 'clearMap()', :id => 'clearmap' %><br />
  <%= button_to_function 'Auto Center', 'autoCenterMap()', :id => 'autocenter' %>
</div>  <!-- End of mapcontrols div -->