<div id="workoutform">
<% form_for @workout, :url => bike_workout_path do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Edit your bike workout</legend>
    <%= render :partial => "shared/form", :object => f %>
    <%= f.label :avg_rpms %>
    <%= f.text_field :avg_rpms %>
  </fieldset>
  <%= f.submit "Save" %>
<% end %>
</div>